.title{
	height: 90px;
	background-color: grey;
}
.title h2 {
	color: #ffffff;
	font-family: impact;
	text-align: left;
	margin-top: 25px;
	float: left;
	font-size: 25pt;
}
.title h2 span{
	color:#36e2c9 ;
}
.title button{
	margin-top: 30px;
	margin-left: 1100px;
}
.tabel{
	margin-left: 80px; 
	width: 900px;
	padding-top: 20px;
	padding-bottom: 15px;
	background-color: #eff5ff;
	box-shadow: 1.5px 1.5px grey;
}
.tabel img{
	margin-left: 15px;
	width: 145px ;
	height:90px;
}
.tabel2 table{
	font-family: arial ;
	text-align: left;
	width: 800px;
	margin-left: 150px;
}
.tabel2 table td{
	height: 30px;
	color: grey;
}
.tabel2 table td input{
	border-radius: 5px;
}

.tabel2 img{
	margin-left: 190px;
	margin-bottom: 50px;
	height: 200px ;
	width: 200px ;
	background-color:rgba(89, 91, 94,0.5);
	border-radius: 200px;
}
.button button{
	margin-top: -50px;
	margin-left: 200px;
	margin-bottom: 20px;
}
.tabel3{
	margin-top: 15px;
}
.tabel3 h3{
	text-align: center;
}
.tabel3 button{
	margin-left: 360px;
}
